<!-- <div>Yehoooo</div>

<div class="">
  <h3>{{lesson}}</h3>-->
  <!-- The attribute lesson was passed in value of 'test' in the index.html, that value was taken to lessonHider.js directive and added to the lesson key in the scope. I access that scope and key/value pair in this html file by referring to {{lesson}} which is looking at the lessonHider file and the lesson key/value pair.
</div> -->
<div><li>{{lesson}}</li></div>

<button ng-click="dayAlert({lesson: lesson, day: lessonDay})" type="button" name="button">Lesson Day</button></br>

<input type="checkbox" name="" value="" ng-click="lineThrough()"></br></br>

<!-- <input ng-model="lesson" type="text" name="" value=""> -->
